@import '../../variables.scss';

.subheaderWrapper {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.subheaderText {
  padding-top: 2rem;
  font-size: 90px;
  color: white;
}

.switcherContainer {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 2rem;
  justify-content: center;
  padding-top: 1rem;
}

.switch {
  padding: 1.5rem 5rem;
  outline: 1px solid white;
  border-radius: 0.3rem;
  color: white;
}

.cardWrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
