.cardImg {
  width: 50%;
}

.projectWrapper {
  position: relative;
}
.cardWrap {
  display: inline-block;
}
.cardText {
  font-size: 26px;
  font-weight: 600;
  position: absolute;
  left: 2rem;
  top: 0;
  top: 80%;
}

.gitLogo {
  position: absolute;
  left: 35rem;
  top: 90%;
}

.linkLogo {
  position: absolute;
  left: rem;
  top: 0;
}
