.projectWrapper {
  position: relative;
}

.cardImg {
  width: 100%;
  pointer-events: none;
}
.cardWrap {
  display: inline-block;
}
.cardText {
  font-size: 26px;
  font-weight: 600;
  position: absolute;
  left: 2rem;
  top: 0;
  top: 80%;
  color: white;
}

.gitLogo {
  position: absolute;
  left: 23.5rem;
  top: 81.5%;
  color: white;
}

.linkLogo {
  position: absolute;
  color: white;
  left: 20rem;
  top: 81.5%;
}
