.techWrapper {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 700;
  color: white;
  margin-top: 4rem;
}

.pstackColWrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}
